@model IEnumerable<ArdenHotel.Entities.Media>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SysAdmin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>Url</th>
            <th>Title</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var urls = !string.IsNullOrEmpty(item.Url) ? item.Url.Split(",") : new string[0];
            <tr>
                <td>
                    @foreach (var url in urls)
                    {
                        <img style="width:100px;height:100px" src="~/Files/@url" />
                    }
                </td>
                <td>@item.Title</td>
                <td><a class="btn btn-warning btn btn-sm" href="~/delete-media?id=@item.MediaID&url=@item.Url">Resmi Sil</a></td>
                <td><a class="btn btn-success btn btn-sm" href="~/update-media?id=@item.MediaID">Resmi Düzenle</a></td>
            </tr>
        }
    </tbody>
</table>
