@using ArdenHotel.Entities
@model List<Comment>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center" style="margin-bottom: -10%;">
                <h2 class="heading-section mb-5">Yorumlar</h2>
            </div>
        </div>
    </div>
    <div class="items">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><img src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png"></h4>
                    <div class="template-demo">
                        <p>@item.Commentary</p>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-sm-2">
                            <img class="profile-pic" src="/image/comment-icon.png">
                        </div>

                        <div class="col-sm-10">
                            <div class="profile">
                                <h4 style="font-weight:500;font-size:16px;margin-bottom:0;color:black;" class="cust-name">@item.Name</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>