@model OpenWeatherResponse
@using System.Globalization;
@using System.Threading;
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<SharedResource> SharedLocalizer;
@{
    CultureInfo ci = new CultureInfo("en-GB");
    var seperated = ci.NumberFormat.NumberDecimalSeparator = ".";
    Thread.CurrentThread.CurrentCulture = ci;
}
<section class="vh-100" style="background-color: ivory">
    <div class="container py-5 h-100">

        <div class="row d-flex justify-content-center align-items-center h-100" style="color: #282828;">
            <div class="col-md-9 col-lg-7 col-xl-5">

                <div class="card mb-4 gradient-custom" style="border-radius: 25px;">
                    <div class="card-body p-4">

                        <div id="demo1" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ul class="carousel-indicators mb-0">
                                <li data-target="#demo1" data-slide-to="0" class="active"></li>
                                <li data-target="#demo1" data-slide-to="1"></li>
                                <li data-target="#demo1" data-slide-to="2"></li>
                            </ul>
                            <!-- Carousel inner -->
                            <div class="carousel">
                                <div class="carousel-item active">
                                    <div class="d-flex justify-content-between mb-4 pb-2">
                                        <div>
                                            <h2 class="display-2" style=" font-size: 35px;"><strong> @Math.Round(Convert.ToDouble(Model.Main.Temp)) °C</strong></h2>
                                            <p class="text-muted mb-0"><b>AYDIN</b> : @Model.Name.ToUpper()</p>

                                            <p class="text-muted mb-0"><b>@SharedLocalizer["HAVA DURUMU"]</b> : @Model.Weather.Select(x => x.Description).FirstOrDefault().ToUpper()</p>
                                        </div>
                                        <div>
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/ilu3.webp"
                                                 width="150px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>